%h1 Welcome to UC Berkeley Room Reservation

#legend{:align => "center"}
  %p#buildingName
#map
:javascript
  var map;
  var legend = document.getElementById('buildingName');

%script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=google_api_key&callback=initMap"}