#filter_btn {
  height: 40px;
  width: 100%;
  border: none;
  background: none;
  font-family: helvatica;
  font-size: 16px;
  margin-left: 5%;
}

.category_text {
  font-family: helvatica;
  font-size: 20px;
  margin-left: 20px;
}

#to-text {
  margin:20px;
  margin-top: 5px;
  float: left;
}

button:focus {
  outline:0;
}

#filters-reset, #filters-submit {
  margin-top: 20px;
}

#map {
  height: 700px;
  width: 100%;
}

#buildingName {
  margin: 0px;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    line-height: normal;
    width: 100%;
}

.panel {
  margin-bottom: 0px !important;
  width: 100% !important;
}

.panel-grout {
  position: relative;
}

#tooltip {
  border-radius: 5px;
  width: 300px;
  overflow: hidden;
}

#ttName, #ttCount, #ttCap {
  text-align: center;
}