#map {
  height: 700px;
  border-radius: 10px;
  margin: 100px;
}

#buildingName {
  margin: 0px;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    line-height: normal;
    width: 75%;
}