button.accordion {
  background-color: #003262;
  color: #ffffff;
  cursor: pointer;
  padding: 12px;
  font-family: Arial;
  width: 100%;
  border-style: groove;
  text-align: center;
  outline: none;
  font-size: 18px;
}
      
button.accordion.active, button.accordion:hover {
    background-color: #003262;
}
      
div.panel {
  padding: 0 18px;
  background-color: #FDB515;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease-out;
}
      
h1 {
  color: #000000;
  text-align: center;
}