body {
  padding-top: 51px;  
}

html {
  height: 100%;
}
.text-center {
  padding-top: 20px;
}
.tab-content p {
  margin-left: 25%;
  overflow-x: hidden;
}

.col-xs-12 {
  background-color: #fff;
}

.active {
  font-weight: bold;
}
.features {
  margin-left: 25% !important;
}

#sidebar {
  position: absolute;
  height: 83.5%;
  overflow-y: scroll;
  padding-top: 0px;
  padding-right: 0px;
  border-right-style: double;
  border-right-color: black;
  background-color: #eee;
}
#sidebar .nav {
  height: 50%;
  width: 100%;
}

#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
}
h2 {
  margin-left: 25%;
  font-family: courier !important;
  font-size: 50px !important;
}
.tab-content {
  padding-left: 50px;
  font-family: consolas !important;
  font-size: 18px !important;
}